* text=auto !eol
code/GOM640.h -text
code/GOS640.h -text
code/MM640.h -text
code/Makefile -text
code/ascii_map.h -text
code/board.c -text
code/board.h -text
code/i8254.h -text
code/interrupt.c -text
code/interrupt.h -text
code/kbc.c -text
code/kbc.h -text
code/liblcom.h -text
code/liblm.a -text
code/libvt.a -text
code/lmlib.h -text
code/main.c -text
code/mouse.c -text
code/mouse.h -text
code/pixmaps.h -text
code/read_xpm.c -text
code/read_xpm.h -text
code/rtc.c -text
code/rtc.h -text
code/scene.c -text
code/scene.h -text
code/scene_eg.c -text
code/scene_eg.h -text
code/scene_mm.c -text
code/scene_mm.h -text
code/scene_mp.c -text
code/scene_mp.h -text
code/scene_sp.c -text
code/scene_sp.h -text
code/tetriminos.c -text
code/tetriminos.h -text
code/timer.c -text
code/timer.h -text
code/vbe.c -text
code/vbe.h -text
code/video_gr.c -text
code/video_gr.h -text
conf/huetris -text
doc/doxy/Doxyfile -text
doc/relat/final-relat-jan14.pdf -text
doc/relat/specification-dec13.pdf -text
doc/relat/specification.pdf -text
extra/install.sh -text
extra/make_docs.sh -text
extra/start-huetris -text
